titlet{
color:aliceblue;
width: 100%;
text-align:center;
font-size: 48px;
letter-spacing: 8px;
margin-top: 20px;
}

.wrapALL{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;} 

.wrapALL p{
 color: darkgrey;
 background-color: black;
 padding: 10px;
 border-radius: 999;
 font-size: 22px;
}

.wrapALL{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 gap: 20px;


}

