*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 
flex{
flex-direction: column;
align-items: center;
justify-content: center;
gap: 50px;
margin-bottom: 50px;
background-image: url('/wallpaper.jpg');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;}

input{
    padding: 10px;
    border: nore;
    border: 2px solid grey;
}